/* ---------------------------------------
NAVBAR ICON
--------------------------------------- */

.menu-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/menu.png);
    vertical-align: middle;
}

.x-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.5em;
    background-image: url(../../img/icons/x.png);
    vertical-align: middle;
}

.x-white-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.5em;
    background-image: url(../../img/icons/x-white.png);
    vertical-align: middle;
}

.bell-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/bell.png);
    vertical-align: middle;
}

.search-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.5em;
    background-image: url(../../img/icons/search-bar-icon.png);
    vertical-align: middle;
}

/* ---------------------------------------
SIDEBAR ICON
--------------------------------------- */
.cash-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.5em;
    background-image: url(../../img/icons/cash.png);
    vertical-align: middle;
}

.clipboard-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.5em;
    background-image: url(../../img/icons/clipboard-list.png);
    vertical-align: middle;
}

.clock-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.5em;
    background-image: url(../../img/icons/clock.png);
    vertical-align: middle;
}

.setting-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.5em;
    background-image: url(../../img/icons/cog.png);
    vertical-align: middle;
}

/* ---------------------------------------
MODAL VARIASI MENU ICON
--------------------------------------- */
.plus-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/icon-plus.png);
    vertical-align: middle;
}

.minus-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/minus.png);
    vertical-align: middle;
}

/* ---------------------------------------
MODAL PILIH PELANGGAN ICON
--------------------------------------- */
.user-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/user.png);
    vertical-align: middle;
}

.phone-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/phone.png);
    vertical-align: middle;
}

.mail-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/mail.png);
    vertical-align: middle;
}

/* ---------------------------------------
PAGE MUTASI ICON
--------------------------------------- */
.calendar-dark-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/calendar-dark.png);
    vertical-align: middle;
}

/* ---------------------------------------
MODAL PEMBAYARAN BERHASIL
--------------------------------------- */
.dollar-icon {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/currency-dollar.png);
    vertical-align: middle;
}

/* ---------------------------------------
MODAL PIN
--------------------------------------- */
.backspace-icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/icons/backspace.png);
    vertical-align: middle;
}
