body::-webkit-scrollbar {
    display: none;
}

.modal.show .modal-dialog {
    transform: translate(0px, 56px);
}

.modal-wrapper {
    min-width: 829px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
}

.modal-content {
    background: #FFF;
    min-height: 600px;
    border-radius: 6px;
}

.modal-dialog::-webkit-scrollbar {
    display: none;
}

.header-body-wrapper {
    height: 96px;
    background: #FFF;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid var(--Neutral-30, #EDEDED);
    gap: 4px;
    flex-shrink: 0;
}

.menu-name {
    color: #616161;
    
    font-family: "Poppins 500";
    font-size: 20px;
    font-style: normal;
    line-height: 28px
}

.menu-price {
    color: #404040;
    
    font-family: "Poppins 700";
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
}

.modal-body-wrapper {
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    justify-content: center;

    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    gap: 24px;
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.content-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.content-header-toping {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    gap: 8px;
}

.toping-right-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.toping-right-content label {
    color: #9E9E9E;

    font-family: "Poppins 400";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.checkbox[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 1px solid #C2C2C2;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
}

.checkbox[type="checkbox"]::after {
    content: url("../../img/icons/check.png");
}

.checkbox[type="checkbox"]:checked {
    background-color: #F16622;
}

.inline-text {
    color: #616161;

    font-family: "Poppins 700";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.inline-text-2 {
    color: #9E9E9E;
    
    font-family: "Poppins 400";
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
}

.divider {
    background: #9E9E9E;
    width: 1.5px;
    height: 14px;
}

.line-divider {
    width: 527px;
    border-bottom: 1px solid #E0E0E0;
    padding: 4px 0px;
}

.content-body {
    display: flex;
    align-items: center;
    gap: 22px;
}

.content-body-toping {
    display: flex;
    align-items: center;
    gap: 6px;
}

.choose-multiple-wrapper {
    gap: 22px;
}

.content-body-sell-type {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-body > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modal-variasi-button {
    width: 161px;
    padding: 6px 16px;
    border-radius: 6px;
    border: 1.5px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

    color: #9E9E9E;
    text-align: center;
    /* Button */
    font-family: "Poppins 500";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.modal-variasi-input {
    width: 256px;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.12) inset;

    color: #757575;


    font-family: "Poppins 400";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.choose-multiple {
    width: 161px;

    border-radius: 6px;
    border: 1px solid #E0E0E0;
    background: #FFF;

    /* Shadow 1 */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

.choose-multiple label {
    width: 161px;
    text-align: center;
}

.choose-multiple label input {
    display: none;
    width: 161px;
}

.choose-multiple label span {
    display: block;
    padding: 6px 16px;

    color: #9E9E9E;

    font-family: "Poppins 500";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.choose-multiple input:checked + span {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    border: 1px solid #F16622;
    background: #FFF7F2;
    height: 32px;

    color: #F16622;
}

.modal-variasi-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #F16622;
    background:#FFF;

    box-shadow: 1px 1px 2px 0px rgba(10, 10, 10, 0.12);
}

.modal-variasi-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    padding: 6px;
    border-radius: 6px;
    background: #F16622;
    
    box-shadow: 1px 1px 2px 0px rgba(10, 10, 10, 0.12);
}

.modal-variasi-button3 {
    width: 255px;
    padding: 6px 16px;
    border-radius: 6px;
    background: #FFF;
    border: 1px solid #E0E0E0;
    
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

    color: #9E9E9E;

    font-family: "Poppins 500";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.note-text-area {
    width: 523px;
    height: 144px;
    resize: none;
    border-radius: 6px;
    border: 1px solid #C2C2C2;
    background: #FFF;

    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.12) inset;
}

.modal-variasi-footer {
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 32px 135px;
}

.modal-cancel-button {
    display: flex;
    width: 120px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 6px;
    border: 1px solid #F16622;
    box-shadow: 1px 1px 2px 0px rgba(10, 10, 10, 0.12);

    color: #F16622;

    font-family: "Poppins 500";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.176px;
}

.modal-save-button {
    display: flex;
    width: 120px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 6px;
    border: 1px solid #F16622;
    background: #F16622;
    
    box-shadow: 1px 1px 2px 0px rgba(10, 10, 10, 0.12);
    color: #FFF;

    font-family: "Poppins 500";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.176px;
}