* {
    /* border: 1px solid black; */
}

.menu-content-wrapper {
    margin: 16px 20px 0px 34px;
}

.menu-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.menu-card {
    box-shadow: 1px 0px 4px lightgrey;
    background: rgba(212, 212, 212, 0.2);
    border-radius: 6px;
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 30px;
}

.menu-title {
    display: flex;
    align-items: start;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ---------------------------------------
SIDEBAR ORDER DETAIL
--------------------------------------- */
