body::-webkit-scrollbar {
    display: none;
}

.modal.show .modal-dialog {
    border-radius: 6px;

    margin: 0;
}

.modal.show {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    min-width: 829px;
    height: 600px;
    box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.12) !important;
    border-radius: 6px !important;
    border-color: rgba(255, 255, 255, 0) !important;

    overflow-y: scroll;
    background: #fff;

    --bs-modal-border-color: rgba(255, 255, 255, 0);
    --bs-modal-border-radius: border-radius: 6px;
}

.modal-dialog::-webkit-scrollbar {
    display: none;
}

.header-body-wrapper {
    height: 96px;
    background: #fff;
    border-bottom: 1px solid #ededed;
    gap: 4px;
    flex-shrink: 0;
}

.modal-menu-wrapper {
    width: 527px;
    margin: 0px auto;

    display: flex;
    padding-top: 16px;
    flex-direction: column;

    gap: 24px;
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 8px;

    width: inherit;
}

.content-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.content-header-toping {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    gap: 8px;
}

.toping-left-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.toping-right-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 1px solid #c2c2c2;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
}

.checkbox[type="checkbox"]::after {
    content: url("../../img/icons/check.png");
}

.checkbox[type="checkbox"]:checked {
    background-color: #f16622;
}

.divider {
    background: #9e9e9e;
    width: 1.5px;
    height: 14px;
}

.line-divider {
    width: inherit;
    border-bottom: 1px solid #e0e0e0;
    padding: 4px 0px;
}

.content-body {
    display: flex;
    align-items: center;
    width: inherit;
    gap: 22px;
}

.content-body-toping {
    display: flex;
    align-items: center;
    gap: 6px;
}

.choose-multiple-wrapper {
    gap: 22px;
}

.content-body > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content-body button span {
    display: flex;
    margin: 0 auto;
}

.modal-variasi-input {
    min-width: 256px;
    height: inherit;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #c2c2c2;
    background: #fff;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.12) inset;
}

.choose-multiple {
    width: 161px;

    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: #fff;

    /* Shadow 1 */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

.choose-multiple label {
    width: 161px;
    text-align: center;
}

.choose-multiple label input {
    display: none;
}

.choose-multiple label span {
    display: block;
    padding: 6px 16px;
}

.choose-multiple input:checked + span {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    border: 1px solid #f16622;
    background: #fff7f2;
    height: 32px;

    color: #f16622;
}

.note-text-area {
    width: 523px;
    height: 144px;
    resize: none;
    border-radius: 6px;
    border: 1px solid #c2c2c2;
    background: #fff;

    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.12) inset;
}

.modal-variasi-footer {
    width: inherit;

    display: flex;
    justify-content: end;
    gap: 16px;

    padding: 32px 0px;
}
