.modal-pelangganBaru-wrapper {
    display: flex;
    padding-top: 52px;
    flex-direction: column;
    justify-content: center;
}

.input-pelanggan-baru {
    width: 527px;
}

.body-input-pelanggan-wrapper {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-self: center;

    gap: 40px;
}

.button-group-new-customer {
    display: flex;
    justify-content: end;
    gap: 16px;

    margin-top: 24px;
}

.button-keluar-pelanggan-baru {
    display: flex;
    width: 120px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    border: 1px solid #f16622;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

    color: #f16622;

    font-family: "Poppins 500";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.176px;
}

.button-simpan-pelanggan-baru {
    display: flex;
    width: 120px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background: #f16622;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

    color: #fff;

    font-family: "Poppins 500";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.176px;
}
