.modal-meja-wrapper {
    display: flex;
    padding-top: 56px;
    flex-direction: column;
}

.select-meja-wrapper {
    width: 527px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.radio-group-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-check-inline {
    display: flex;
    align-items: center;
    gap: 8px;

    margin: 0;
}

input[type="radio"] {
    background: #fff !important;
    width: 20px;
    height: 20px;
    border: 1px solid #c2c2c2 !important;
    border-radius: 50%;
    outline: none;
}

input[type="radio"]:before {
    content: "";
    display: block;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: 60%;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: #f16622;
}

.radio-group-wrapper div label {
    color: #404040;

    font-family: "Poppins 400";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.card-meja {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 16px;
}

.meja-wrapper {
    width: 119px;
    height: 119px;

    border: 1px solid #f16622;
    background: #fff7f2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MEJA */
.meja {
    position: relative;
    width: 56px;
    height: 56px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: #f16622;
    border-radius: 3px;
}

.meja span {
    color: #fff;

    font-family: "Poppins 500";
    font-size: 10px;
    font-style: normal;
    line-height: 16px;
}

.dash-meja {
    position: relative;
    width: 56px;
    height: 56px;
}

/* BORDER MEJA ATAS BAWAH KANAN KIRI*/
.dash-meja::before {
    content: "";
    position: absolute;
    right: 50%;
    top: -7px;
    transform: translate(50%, 0);
    z-index: 100;

    width: 40px; /* Thickness */
    height: 4px;
    background: #f16622;

    border-radius: 4px;
}

.dash-meja::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -7px;
    transform: translate(50%, 0);
    z-index: 100;

    width: 40px; /* Thickness */
    height: 4px;
    background: #f16622;

    border-radius: 4px;
}

.meja::before {
    content: "";
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;

    width: 4px; /* Thickness */
    height: 40px;
    background: #f16622;

    border-radius: 4px;
}

.meja::after {
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;

    width: 4px; /* Thickness */
    height: 40px;
    background: #f16622;

    border-radius: 4px;
}

.button-pilih-meja-group {
    display: flex;
    flex-direction: row;
    justify-content: end;

    gap: 16px;
}
