.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.logo-navbar {
    max-width: 120px;
    max-height: 60px;
}

.bell-navbar {
    max-width: 1.5rem;
}

li .btn-clicked-active {
    padding: 0px 16px;
    margin-bottom: 8px;
}

.btn-clicked-active:focus {
    color: #F16622;
}

.offcanvas {
    width: 330px;
    padding: 30px 16px 0 16px;
}

.offcanvas-header {
    padding: 0px 16px;
}

.offcanvas-body {
    padding-top: 24px;
}

.accordion {
    --bs-accordion-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-active-color: #F16622;
    --bs-accordion-active-bg: none;
}

.accordion-button {
    padding: 0px 16px;
    margin-bottom: 8px;
}

.accordion-button.collapsed::after {
    background-image: url("../img/icons/cheveron-down.png");
    background-position: center;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("../img/icons/cheveron-down.png");
    transform: rotate(-180deg);
    background-position: center;
}

.accordion-body {
    padding: 0;
}

.accordion-item {
    border: none;
}

.accordion-button {
    padding: 0;
    margin-bottom: 8px;
}

.sidebar-button-container { 
    margin-bottom: 8px;
}