/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    height: calc(100vh - .1rem); /* Menggunakan tinggi viewport - padding sebagai tinggi */
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    color: black;
    transition: width 0.3s;
    padding: 1rem 2rem 1rem 3rem;
}


.accordion-button::after {
    transition: none !important;
}

.accordion-init::after {
    transition: transform 0.9s ease-in-out;
}

/* Mengatur scrollbar untuk elemen dengan id "sidebar" */
#sidebar::-webkit-scrollbar {
    width: 0px; /* Lebar scrollbar */
    height: 0px; /* Tinggi scrollbar */
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(199, 199, 199);
}

#sidebar::-webkit-scrollbar-track {
    background-color: white;
}

/* Munculkan scrollbar saat dihover */
#sidebar:hover {
    overflow-y: auto; /* Aktifkan scrollbar vertikal saat dihover */
}


.logo-sidebar {
    max-width: 7.3rem;
}

.button-menu {
    margin-top: 48px;
}

.inner-menu-active {
    background-color: #FFF7F2;
    color: #F16622;
}

.active {
    color: #F16622;
}


.accordion-body {
    padding: 0px;
}

.accordion-item {
    border: none;
}

.accordion-header {
    padding: 0.625rem 0rem;
}
