/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 80%;
    max-height: 100%;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    border-right: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    color: black;
    transition: all 0.3s;
    padding: 1rem 2rem 1rem 3rem;
}

/* Mengatur scrollbar untuk elemen dengan class .side-menu-left */
#sidebar::-webkit-scrollbar {
    width: 7px; /* Lebar scrollbar */
    height: 7px; /* Tinggi scrollbar */
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(199, 199, 199);
}

#sidebar::-webkit-scrollbar-track {
    background-color: white;
}


.logo-sidebar {
    max-width: 7.3rem;
}

.button-menu {
    margin-top: 48px;
}


.inner-menu-active {
    background-color: #FFF7F2;
    color: #F16622;
}

.active {
    color: #F16622;
}


.accordion-body {
    padding: 0px;
}

.accordion-item {
    border: none;
}

.accordion-header {
    padding: 0.625rem 0rem;
}
