
:root {
    font-size: 16px;
    --primary-main: #F16622;
    --font-family: 'Poppins Regular';
}

html, body {
    font-family: "Poppins Regular";
    height: 100%; /* Pastikan body dan html memiliki tinggi 100% */
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


#page {
    height: 100vh;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    padding-bottom: 100px;
}


#content-loaded {
    margin-top: 2.75rem;
    margin-left: 1.25rem;
    margin-right: 3rem;

}


select {
    border: none;
}

option {
    border: none;
}


/* .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
 */


#imagePos {
    max-width: 13.18rem;
}

.no-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----------------------------------------------------
   WRAPPER STYLE
-------------------------------------------------------*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    PROGRESS BAR STYLE
----------------------------------------------------- */

#progress-bar {
    height: 5px;
    background-color: #f16622;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.content-navbar {
    padding: 2rem 3rem 1.87rem 1.25rem;
}

.navbar-title {
    font-family: "Poppins Bold";
    color: #f16622;
    font-size: 1.5rem;
    line-height: 2rem;
}

#nav-subtitle {
    margin-left: 1rem;
}

.navbar-subtitle {
    padding: 0px;
    font-family: "Poppins Regular";
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

#divider {
    max-width: 100%; /* Lebar garis */
    height: 1px; /* Tinggi garis, sesuaikan dengan kebutuhan Anda */
    background: linear-gradient(to bottom, transparent, #E0E0E0, transparent); /* Efek gradient */
}


#title-divider {
    margin-left: 1.25rem;
    height: 3px;
    background-color: #f16622;
    width: 0px;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.input-no-border {
    border: none;
    box-shadow: none;
    outline: none;
}

.table-detail-item-ingredients:disabled {
    background-color: #EDEDED;
}

.search-bar {
    max-width: 23.6rem;
    min-width: 23.6rem;

    border-radius: 0.37rem;
    border: 1px solid #c2c2c2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    /*padding: 6px 12px;*/
    gap: 4px;
    background-image: url(../img/icons/search-bar-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 21.9rem;
    background-size: 16px;
    padding: 0.375rem 1rem;

    font-size: 0.87rem;
    line-height: 1.25rem;
}

.search-bar:hover {
    border: 1px solid #F16622;
    outline: 3px solid rgba(241, 102, 34, 0.2);
    border-radius: 6px;
}

.btn-nav {
    margin-left: 1rem;
}

/* ---------------------------------------------------
    TABLE  STYLE
----------------------------------------------------- */


.power-grid-table {
    border: 1px solid white;
}

.power-grid-table > thead {
    background-color: #FFF7F2;
}

.power-grid-table thead tr th {
    color: var(--primary-main, #F16622) !important;
    /* Body Text/Regular */
    font-family: var(--font-family) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 20px !important; /* 142.857% */

    vertical-align: middle !important;

    padding: 14px 16px !important;
}


.power-grid-table tbody td {
    padding: 14px 16px;
    font-family: var(--font-family);
    font-size: 14px;
}

.spinner-border {
    width: 18px;
    height: 18px;
    margin-left: 18px;
}

.table-component {
    /* Body Text/Regular */
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

    color: var(--neutral-100, #0A0A0A);
    vertical-align: middle !important;
}


.table-component > thead {
    background-color: #FFF7F2;

}


.table-component thead th {
    padding: 14px 16px;
    border-bottom: none;
}

.table-component tbody td {
    padding: 14px 16px;
}


/*#tableMenu th {*/
/*    border-top: 1px solid white;*/
/*    border-bottom: 1px solid white !important;*/
/*}*/
/*#tableMenu td {*/
/*    padding: 2.5rem 0px !important;*/
/*}*/
/*#variantForm {*/
/*    margin-bottom: 2rem;*/
/*}*/
/*.table-input {*/
/*    border-style: solid;*/
/*    border-left: none;*/
/*    border-top: none;*/
/*    border-color: #e0e0e0;*/
/*    border-width: 1px;*/
/*    border-radius: 0px;*/
/*}*/
/*.table-input::placeholder {*/
/*    font-family: "Poppins Regular";*/
/*    font-size: 0.75rem;*/
/*    line-height: 1rem;*/
/*    color: #9e9e9e;*/
/*}*/
/*.table-input:focus {*/
/*    border-color: #e0e0e0;*/
/*}*/
/*.table-input:hover {*/
/*    border-color: #e0e0e0;*/
/*}*/
/*table.borderless td,*/
/*table.borderless th {*/
/*    border: none !important;*/
/*}*/
/*.table-head-color {*/
/*    font-family: "Poppins Regular";*/
/*    font-size: 0.875rem;*/
/*    line-height: 1.25rem;*/
/*    color: #404040;*/
/*    background-color: #fff7f2;*/
/*}*/
/*.items-table-head-color {*/
/*    font-family: "Poppins Regular";*/
/*    font-size: 0.875rem;*/
/*    line-height: 1.25rem;*/
/*    color: #404040;*/
/*}*/
/*.table-head-color-modal {*/
/*    font-family: "Poppins Medium";*/
/*    font-size: 0.75rem;*/
/*    line-height: 1rem;*/
/*    color: #404040;*/
/*    background-color: #fff7f2;*/
/*}*/
/*.table-modal {*/
/*    font-family: "Poppins Medium";*/
/*    font-size: 0.75rem;*/
/*    line-height: 1rem;*/
/*    !* identical to box height, or 133% *!*/
/*    !* Neutral/90 *!*/
/*    color: #404040;*/
/*}*/
/*table.borderless .checkbox {*/
/*    width: 1rem;*/
/*    height: 1rem;*/
/*}*/
/*table.borderless th {*/
/*    padding: 1rem;*/
/*}*/
/*table.borderless td {*/
/*    padding: 1rem;*/
/*}*/
/* Table in recipes -> create recipes */
.only-underline {
    border-top: 1px solid white;

}


.no-border-side {
    border-left: 1px solid white;
    border-right: 1px solid white;

}


/*tr {*/
/*    border-left: 1px solid white;*/
/*}*/

/*tr>td:last-child {*/
/*    border: 1px solid white;*/
/*}*/

/*tr td:nth-child(6) {*/
/*    border-right: none;*/
/*}*/


.table-create-recipes td, .table-create-recipes th {
    padding: 14px 16px;
    font-size: 14px;
}

.table-create-recipes tr {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.select2-selection--single {
    border: none !important;

}

/* DATA TABLE */
.dataTable thead {
    background-color: #FFF7F2;
    color: var(--primary-main, #F16622);

    /* Body Text/Regular */
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-style: normal;
    line-height: 1.25rem; /* 142.857% */
}

.dataTable th {
    padding: 14px 16px;
    border-bottom: none;
}

.dataTable tbody td {
    padding: 14px 16px;

    color: var(--neutral-90, #404040);

    /* Body Text/Regular */
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.dataTable tbody {
    border-bottom: 1px solid white;
}


.odd {
    border-bottom: 0px white;
    padding: 0px !important;
}

.dropdown-only-text {
    max-width: 60%;
    position: relative;
}

.dropdown-toggle:after {
    position: absolute;
    top: 40%;
    left: 100%
}

.no-border {
    border: none;
    padding: 0px;
}

input[type="number"]:not([step="any"])::-webkit-inner-spin-button,
input[type="number"]:not([step="any"])::-webkit-outer-spin-button {
    opacity: 1;
}

.disabled {
    background: var(--primary-surface, #FFF7F2) !important;
}

.input-disabled-recipes:disabled {
    background: var(--primary-surface, #FFF7F2);
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 0px;
}

.span-all-columns {
    border-top: 1px solid #E0E0E0 !important;
    border-bottom: 1px solid #E0E0E0 !important;
}

.table-equipment {
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.table-equipment tr td:first-child {
    border-right: 1px solid #E0E0E0;

}

.table-equipment tr td:last-child {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.table-equipment th {
    padding-top: 16px;
}

.table-equipment td {
    padding-top: 16px;
    padding-bottom: 16px;
}

.create-recipes-select {
    border: none;
    padding: 0px;
    width: 100% !important;

    color: var(--neutral-70, #757575);

    /* Body Text/Regular */
    font-family: "Poppins Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */

    text-overflow: ellipsis;
    padding-right: 30px;
}

.create-recipes-select:focus {
    outline: 3px solid white;
    border: 1px solid white !important;
    box-shadow: none;
}

/* ---------------------------------------------------
    TAG STYLE
----------------------------------------------------- */

.tags {
    border-radius: 6px;
    border: 1px solid var(--danger-border, #EEB4B0);
    background: var(--danger-surface, #FFF4F2);

    color: var(--danger-main, #CB3A31);

    /* Caption/Medium */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}


/* ---------------------------------------------------
    MODAL STYLE
----------------------------------------------------- */


.modal-input-title {
    font-family: "Poppins Medium";
    font-size: 1rem;
    line-height: 1.75rem;
    /* identical to box height, or 140% */

    text-align: center;

    /* Neutral/10 */

    color: #ffffff;
}

.input-modal {
    max-height: 2rem;
    width: 2rem;
}

/* ---------------------------------------------------
    CHECKBOX STYLE
----------------------------------------------------- */
input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}

input[type="checkbox"]:checked {
    accent-color: #f16622;
    outline: 3px solid rgba(241, 102, 34, 0.2);
}


/* ---------------------------------------------------
    CREATE MENU PAGE STYLE
----------------------------------------------------- */

.create-menu-content {
    margin-top: 2.75rem;
}

.content-information {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.image-information {
    margin-top: 3.75rem;
}

/* ---------------------------------------------------
    CREATE CATEGORY PAGE STYLE
----------------------------------------------------- */

.create-category {
    height: 83vh;
    position: relative;
}


/* ---------------------------------------------------
    LIBRARY INGREDIENTS PAGE STYLE
----------------------------------------------------- */
.create-ingredients {
    height: 83vh;
    position: relative;
}

/* ---------------------------------------------------
    PO PAGE STYLE
----------------------------------------------------- */
.table-po {
    /* Body Text/Regular */

    font-family: "Poppins Regular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* max-width: 100%;
    min-width: 100%; */

    padding: 0.375rem 0.75rem;
    /* identical to box height, or 143% */

    /* Neutral/90 */

    color: #404040;
    border: 1px solid #c2c2c2;
    max-width: 100%;
    min-width: 100%;
}

.tables-po {
    width: 20%;
}

.table-po-disabled {
    background-color: #EDEDED;
}

.table-po-rm-right {
    border-right: none;
}

.table-po-rm-top {
    border-top: none;
}

.title-status-po {
    font-family: 'Poppins Regular';
    font-size: .875rem;
    line-height: 1.25rem;
    /* identical to box height, or 143% */


    /* Primary/Main */

    color: #F16622;

}

.table-detail-item-ingredients {
    width: 7.35rem;
}

.make-input {
    max-width: 100%;
}


/* ---------------------------------------------------
    CREATE PO PAGE STYLE
----------------------------------------------------- */

.total-price {
    text-align: end;
}

.full-search-bar {
    border-radius: 0.37rem;
    border: 1px solid #c2c2c2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    /*padding: 6px 12px;*/
    gap: 4px;
    background-image: url(../img/icons/search-bar-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 99%;
    background-size: 16px;
    padding: 0.375rem 1rem;
    font-size: 0.87rem;
    line-height: 1.25rem;
}

.body-modal {
    margin: 1.18rem 1.5rem 2.5rem 1.25rem;
}

.item-modal {
    margin-top: 1.25rem;
    width: 100%;
}


.name-item-modal {
    margin-left: 0.5rem;
    max-width: 100%;
}

.items-ingredient-img {
    max-width: 3.5rem;
    max-height: 3.5rem;
}

#modalBodyNewItem {
    padding: 1.5rem !important;

}

/* ---------------------------------------------------
    DETAIL PO PAGE STYLE
----------------------------------------------------- */

.input-status-activity {
    border: 1px solid #f16622;
    border-radius: 6px;

    background: url("../img/icons/plus-circle.png") no-repeat right #ffffff;
    background-position: 98%;
    overflow: hidden;
    background-size: 1rem 1rem;
}

/* This is to remove the arrow of select element in IE */
select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.input-status-activity select {
    background: transparent;

    padding-right: 5px;
    border: 0;
    border-radius: 0;
    height: 30px;
}

.dropdown-menu {
    width: 15rem !important;
}

.create-supplier {
    height: 83vh;
    position: relative;
}

.btn-action-create {
    position: absolute;
    bottom: 2.25rem;
    right: 0%;
}


/* ---------------------------------------------------
    ADD WAREHOUSE STYLE
----------------------------------------------------- */
.modal-body {
    padding: 19px 24px !important;
}

#modalItem .modal-footer {
    border-top: none;
    padding: 16px 24px;
}

.row-warehouse-add-item {
    margin-top: 16px;
}

.item {

}
